<div class="container" style="background-color: transparent; color: black;">
    <p class="mb-1">&copy; @DateTime.Now.Year - Proje Sahibinin Tüm hakları saklıdır.</p>
    <p>
        <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color: black;">Gizlilik Politikası</a> |
        <a asp-area="" asp-controller="Home" asp-action="Contact" style="color: black;">İletişim</a>
    </p>
</div>
