@* Örnek: Views/Home/Index.cshtml *@
@{
    ViewData["Title"] = "Ana Sayfa";
}

<h1 class="text-center">Hoşgeldiniz!</h1>

<div class="text-center my-5">
  <div class="tenor-gif-embed"
       data-postid="9140083377729286158"
       data-share-method="host"
       data-aspect-ratio="1.31053"
       data-width="100%">
    <a href="https://tenor.com/view/see-ya-ya-yeet-ash-chucks-pikachu-im-sick-of-you-now-throw-gif-9140083377729286158">
      See Ya Ya Yeet GIF
    </a> from
    <a href="https://tenor.com/search/see+ya-gifs">See Ya GIFs</a>
  </div>
</div>


<script type="text/javascript" async src="https://tenor.com/embed.js"></script>
