/* 1) Global reset (isteğe bağlı ama önerilir) */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 2) Html elemanına tam ekran arka plan görseli */
html {
    height: 100%;
    background-image: url('https://i.ibb.co/G4m01VWW/nordwood-themes-R53t-Tg6-J4c-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* Görseli ekranı kayıpsız kaplamak için */
    background-position: center center; /* Ortala */
    background-attachment: fixed; /* Sayfa kaydırılsa da sabit kalsın */
}


.navbar.custom-nav {
    background-color: #1F2A30;
}

    .navbar.custom-nav .nav-link {
        color: #E0E6E6;
    }

        .navbar.custom-nav .nav-link:hover {
            color: #4AA96C;
        }



/* Navbar içindeki logo */
.navbar-brand .book-logo {
    height: 40px; /* istediğin yüksekliği ver */
    width: 100%; /* en-boy oranını koru */
    max-width: 100%; /* konteyneri aşmasın */
}

/* Küçük ekranlarda daha da küçültmek istersen */
@media (max-width: 576px) {
    .navbar-brand .book-logo {
        height: 30px;
    }
}


